---
layout: default
---
<div class="post">

  <header class="header" {% if page.cover %} style="background: #DDD url({{page.cover}}) no-repeat center center fixed; background-size: cover;" {% endif %}>
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
      {% if page.location %}{{ page.location }}<br />{% endif %}
      {{ page.date | date: "%-d %b %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}<br />
      {% if page.author %} by {{ page.author }}{% endif %}
    </p>
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}" class="nav-arrow left"><i class="fa fa-angle-left"></i></a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{ page.next.url }}" class="nav-arrow right"><i class="fa fa-angle-right">
    {% endif %}
    </i></a>
  </header>

  <article id="content" class="content">
    {{ content }}
  </article>

  <div class="next">
    {% if page.next %} 
    <hr />
    <h2><a href="{{ page.next.url }}">Next Chapter: {{ page.next.title }}</a></h2>
    <p>{{ page.next.excerpt }}</p>
    {% endif %}
  </div>


</div>
